.jumbotron {
    background-color: green;
    color: aliceblue;
    font-family: 'Rubik', sans-serif;
}

body {
    background-color: #598B90;
    color: #EC9692;
    font-family: 'Mulish', sans-serif;
}

